# Backend
backend/__pycache__/
backend/venv/
backend/.env
backend/*.log
backend/datasets/
backend/models/

# Frontend
frontend/node_modules/
frontend/dist/
frontend/.env.local

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Stray sample / runtime data files
**.bin
backend/**/*.json
**.mp3
**.wav

backend.*
frontend.*

backend/data_storage/
.aider*
backend/req_fast.txt
