# Backend
backend/__pycache__/
backend/venv/
backend/.env
backend/*.log
backend/datasets/
backend/models/

# Frontend
frontend/node_modules/
frontend/dist/
frontend/.env.local

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

**.bin
**.json
**.png
**.jpg
**.jpeg
**.mp3
**.waw

backend.*
frontend.*
